body {
 background-color:hwb(320 93% 3%); 
}

h1,
h2,
h3{
 font-family:'Times New Roman', Times, serif;
 color:black
}

.custom-margin{
    margin-top:20px;
}

.custom-margin-carousel{
    margin-top:50px;
}

.carousel-image{
 max-width:80%;
 height:auto;
}

#logout-button {
    color: #d917eed8;
}