{% extends 'base.html' %}
{% block title %} Details {% endblock %}

{% block body %}
    <h1>Journals Content</h1>
<p>{{journal.content}}</p>
    <ul> 
        <li> 
        </li>
        <div>
            <form action="/delete_journal" method="POST" class="delete_journal">
            <input type="hidden" name="journal_id" id="journal_id" value="{{journal.journal_id}}">
            <button class="btn btn-outline-secondary" type="submit"> Delete </button>
          </form>
        </div>
        <div>
            <form action="/edit_journal" method="POST" class="edit_journal">
            <input type="hidden" name="journal_id" id="journal_id" value="{{journal.journal_id}}">
            <input type="text" name="journal_content" id="journal_content" value="{{journal.content}}">
            <button class="btn btn-outline-secondary" type="submit"> Edit </button>
          </form>
        </div>
    </ul>
{% endblock %}