{% extends 'base.html' %}
{% block title %} User Profile {% endblock %}

{% block body %}


<div>
  <h1>Hello, {{user.user_name}}!</h1>
  <h2>Welcome to your journaling app!</h2>
  <h2>Create a Journal</h2>
  <form action="/new_journal" method="POST" class="save_journal">
    <input type="text" name="new_journal" id="journal_content">
    <button class="btn btn-outline-secondary" type="submit"> Create </button>
  </form>
</div>
<div>
  <br>
  <h2>Create a Travel Journal</h2>
  <form action="/new_travel_journal" method="POST" class="save_travel_journal">
    <input type="text" name="new_travel_journal" id="travel_journal_content">
    <input type="text" name="address" id="save_address">
    <input type="file" name="my-file" id="image">
    <button class="btn btn-outline-secondary" type="submit"> Create </button>
  </form>
</div>
<h2>My Journals</h2>

  <ul id="journal_list">
    {% for journal in journals %}
    <li><a href="/journal/{{journal.journal_id}}"> {{journal.content}} {{journal.date_time}}</a>
    </li>
    <form action="/delete_journal" method="POST" class="delete_journal">
    <input type="hidden" name="journal_id" id="journal_id" value="{{journal.journal_id}}">
    <button class="btn btn-outline-secondary" type="submit"> Delete </button>
    </form>
    {% endfor %}
    </ul>
    <ul id="travel_journal_list">
    {% for travel_journal in travel_journals %}
  
  <li><a href="/travel_journal/{{travel_journal.travel_journal_id}}"> {{travel_journal.content}} {{travel_journal.date_time}} {{travel_journal.address}}</a>
  </li>
  {% endfor %}
  </ul>
  <form action="/logout" method="POST" class="logout">
  <p>
  <button type="submit" class="btn btn-outline-secondary">Log out</button>
  </p>
  </form>
  
<script src="/static/js/save_journal.js"></script>
<script src="/static/js/save_travel_journal.js"></script>
{% endblock %}