{% extends 'base.html' %}
{% block title %}All Travel Journals{% endblock %}

{% block body %}
    <h1>All Travel Journals</h1>

    <ul> 
    {% for travel_journal in journals %}
        <li> 
            <a href="/journals/{{travel_journal.travel_journal_id}}">
                {{travel_journal.content}}
            </a>
        </li>
        <h2>Insert Photos</h2>
        <form action="/photo" method="POST" enctype="multipart/form-data">
            <input type="file" name="my-file">
            <input type="hidden" id="journal_to_add_to" value="{{travel_journal.travel_journal_id}}">
            <input type="submit">
        </form>
    {% endfor %}
    </ul>
{% endblock %}